.homePage {
  width: 100%;
  height: auto;
}
.homePage .statistics-frame {
  width: 100%;
  height: 236px;
  background-color: #343434;
}

.homePage .statistics-frame .info {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homePage .statistics-frame .info .static-box {
  width: 200px;
  height: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homePage .statistics-frame .info .static-box .static-num {
  text-align: center;
  font-family: Poppins;
  font-size: 54px;
  font-weight: 600;
  color: #d7b686;
  line-height: 80px;
}
.homePage .statistics-frame .info .static-box .static-text {
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #d7b686;
}
